.footer-section {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
}

.footer-logo-block {
    text-align: center;
}

.footer-title {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}

.span-footer {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    text-align: left;
}

.social-media-footer {
    text-align: center;
}

.footer-text-p,
.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-footer-container {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-footer-li {
    width: 40px;
    height: 40px;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31D0AA;
}

.social-footer-svg {
    fill: #F4F4FD;
}

.subscribe-block {
    text-align: center;
    width: 100%;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; 
    width: 100%;
}

.subscribe-label {
    width: 100%;
    display: flex;
    justify-content: center;
}

.subscribe-input {
    width: 100%;
    max-width: 398px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
    color: #FFFFFF;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404BBF;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        max-width: 584px; 
        column-gap: 24px;
        row-gap: 72px;
    }

    .footer-logo-block,
    .social-media-footer,
    .subscribe-block {
        text-align: left;
    }

    .subscribe-block {
        width: auto;
    }

    .subscribe-form {
        flex-direction: row;
        gap: 24px; 
    }

    .subscribe-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        max-width: 1158px; 
        flex-wrap: nowrap;
        gap: 0; 
    }

    .footer-logo-block {
        margin-right: 120px;
    }

    .social-media-footer {
        margin-right: 80px; 
    }

    .subscribe-block {
        margin-left: 0;
    }

    .subscribe-input {
        width: 264px;
        border: 1px solid #FFFFFF;
    }
}